@font-face {
    font-family: 'space-mono';
    src: url('./assets/fonts/SpaceMono-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'helvetica';
    src: url('./assets/fonts/Helvetica.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'helvetica-bold';
    src: url('./assets/fonts/Helvetica-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'helvetica-light-italic';
    src: url('./assets/fonts/HEL-LIGHT.ttf') format('truetype');
    font-style: italic;
    
}

@font-face {
    font-family: 'space-mono-italic';
    src: url('./assets/fonts/SpaceMono-Italic.ttf') format('truetype');
    font-style: italic;
    font-weight: 300;
}





h1{
    font-family: space-mono;
    letter-spacing: -2px;
    color: white;
    font-size: 30px;
    text-wrap:nowrap;
    margin-right: 60px;
    margin-left: 60px;
}

h2{
    color: white;
    font-family: helvetica-bold;
    font-size: 80px;
    letter-spacing: -10px;
    padding: 0px;
    margin:0px;
    text-align: left;
    transition-duration: 0.4s;
}

h2:hover{
    letter-spacing: -8px;
}
h3{
    position: absolute;
    color: white;
    text-align: left;
    margin-left:10px;
    font-family: 'helvetica'; 
    font-style: italic;
    font-weight: lighter;
}
h4{
    float: left;
    color: white;
    font-family: helvetica;
}
p{
    
    font-family: space-mono;
    color: white;
    font-size: 20px;
}

body{
    background-color: black;

}
.homepageText{
    text-align: center;
    padding: 0;
    margin: -10px;
}
.homeOptions{
    margin-top: 15px;
}
.homepagePageLink{
    text-decoration: none;
}
.homepagePageButtons{
    font-family: space-mono;
    color: white;
    text-decoration: none;
    background-color: black;
    text-decoration: underline 1px solid white;
    border: none;
    cursor: pointer;
    transition-duration: 0.4s;
}
.homepagePageButtons:hover{
    background-color: blue;
}
#mainTitle{
    font-size: 1.5rem;
    padding: 0;
    margin: 0;
}

.homePortrait{
    float: left;
    margin-left: 4vw;
    margin-top:4vh;
    height: 700px;
}
.homeContentsWrapper{
    justify-content: center;
    text-align: center;
    margin-top: 37vh;

}
.recentPhotosHome{
    border: 2px solid white;
    width: 700px;
    height: 700px;
    float: right;
    margin-right: 4vw;
    margin-top: 4vh;
}
.homeParagraph{
    margin-top: 4vh;
    width: 30vw;
    float: left;
    text-align: left;
    flex-wrap: wrap;
    flex-flow: column;
}
.homeImageWrapper{
    position: relative;
}
.imgHomeTitle{
    position: absolute;
    padding: 0px;
    margin: 0px;
    top: 700px;
    left:355px;
    
}
.homePictureAndTitle{
    display: flex;
    flex-direction: row;
}
#recentPic{
    display: block;
    height: 12.5vh;
    margin-top: 15px;
    margin-left: 10px;
    border: 2px solid white;
}
.navbar{   
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    column-gap: 1px;
    
}
.navbar ul{
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#dropdownButton{
    background-color: black;
}
#dropdownMenu{
    position: absolute;
    display: none;
    text-align: center;
    text-wrap: nowrap;
    white-space: nowrap;
    background-color: var(--backing);
    list-style: none;
    margin:0;
    width: 100%;
    left: -50%;
    z-index: 10; 
  }


.navbar button{
    font-family: monospace;
    color: white;
    height: 50px;
    cursor: pointer;
    background-color: none;
    border: none;
    text-decoration: none;
    width: 25%;
    transition: 0.6s;
    padding: 15px 10px;
    font-size: 20px;
    
}
.navButton{
    position: absolute;
    background-color: var(--backing);
    animation-fill-mode: forwards;
}

@keyframes navbarButtonAnim{
    from {opacity: 0;}
    to{opacity: 1;}
}

#homeButton{
    animation-duration: 0.2s;
    animation-name: navbarButtonAnim;
}
#galleryButton button{
    animation-duration: 0.6s;
    animation-name: navbarButtonAnim;
    transform: translateX(100%);
}
#aboutButton button{
    animation-duration: 0.6s;
    animation-name: navbarButtonAnim;
    transform: translateX(200%);
}
#contactButton button{
    animation-duration: 0.8s;
    animation-name: navbarButtonAnim;
    transform: translateX(300%);
}

.navbar button:hover{
    letter-spacing: -1px;
}
#dropdownMenu.show {
    display: block;
  }
#socialButton{
    width: 20px;
    height: 20px;

}

#contactTitle{
    margin-bottom: 20px;
    width: 100%;
    color: white;
    font-family: helvetica-bold;
    font-size: 80px;
    letter-spacing: -10px;
    padding: 0px;
    margin:0px;
    text-align: left;
    transition-duration: 0.4s;
}

.contactTitle:hover{
  cursor:default;
}
.formBox{
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.contactContent{
    margin-top: 40px;
    margin-bottom: 40px;
}

.emailForm{
    margin-top: 20px;
    text-align: left; /* make inner text align left */
    text-align: left;
    margin-left: 15%;
    margin-right: 15%;
}

input,textarea{
    outline: none;
    border: 2px solid white;
    padding: 10px;
    width: 100%;
    margin-bottom: 10px;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: black;
    color: white;
    transition-duration: 0.4s;
    font-size: 16px;
    resize: none;
    overflow-y: scroll;

}

::-webkit-scrollbar {
  width: 5px;
  
}

/* Track */
::-webkit-scrollbar-track {
  background:none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: white;
 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  cursor: pointer;
  
}
::-webkit-scrollbar-track-piece:end {
    background: transparent;

}

::-webkit-scrollbar-track-piece:start {
    background: transparent;

}
textarea{
    line-height: 1.5;
    vertical-align: top;
    height: 50vh;
}

input::placeholder,textarea::placeholder{
    line-height:1.5;
    font-family: space-mono;
    font-size: 15px;
    transition-duration: 0.4s;
}

input:focus,textarea:focus{
    border-color: blue;
}

input:hover::placeholder,textarea:hover::placeholder{
    /*letter-spacing: 1px;*/
    cursor: text;
    
}

.submitButton{
    font-family: space-mono;
    color: white;
    font-size: 15px;
    transition: 0.4s;
}
.submitButton:hover{
    box-shadow: -8px 8px blue;
    border-color: white;
}

:root{
    --backing: blue;
}



@keyframes dropdownAnim{
    from {background-color: red;}
  to {background-color: yellow;}
}

@keyframes rotateX {
  0% {
    opacity: 0;
    transform: rotateX(-90deg);
  }
  50% {
    transform: rotateX(-20deg);
  }
  100% {
    opacity: 1;
    transform: rotateX(0deg);
  }
}




.contentContainerAbout{
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  animation-name: cameraFocusAnim;
  animation-duration: 2s;
  width: 100%;
  margin-top: 180px;
  margin-bottom: 200px;
}

#aboutPassage{
  text-align: left;
  font-size: 14px;
  margin-left: 20px;
  margin-right: 20px;
  
}
.aboutText{
  width: 400px;

}
.aboutImage{
 

    margin-right: 20px;
   
}

.aboutPic{
  width: 300px;
  border: 5px solid white;
}

@keyframes cameraFocusAnim {
  0%{
    filter: blur(6px);
  }
  50%{
    filter: blur(0px);
  }
  70%{
    filter: blur(2px);
  }
  100%{
    filter: blur(0px);
  }
  
}







/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

    .contentContainerAbout{
        display: block;
        text-align: center;
        flex-direction: column;
        margin-top: 40px;
        
    }

    .aboutImage{
        width: 100%;
    }
    .aboutText{
        width: 100%;
    }
    
    #mainTitle {
        font-size:4vw;
    }
   
    body{
    }

 

   

}
